<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>107276096251-102jefde7s62ih36k3gdj03c9834urr4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.107276096251-102jefde7s62ih36k3gdj03c9834urr4</string>
	<key>API_KEY</key>
	<string>AIzaSyDQkAYWL91u4v9sZzlIWOanR0k9EeHGRgo</string>
	<key>GCM_SENDER_ID</key>
	<string>107276096251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.jd92k.playdate-app</string>
	<key>PROJECT_ID</key>
	<string>playdateapp-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>playdateapp-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:107276096251:ios:f8fcafce39956d831ed65e</string>
	<key>DATABASE_URL</key>
	<string>https://playdateapp-dev.firebaseio.com</string>
</dict>
</plist>